html {
  font-size: 18px;
  color: white;
  font-family: Helvetica;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.top {
  background-color: black;
  width: 100%;
}

.top .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.66rem 0;
}

.top img {
  height: 1.5rem;
  margin: 0 1rem 0 0.5rem;
}

.top p {
  font-size: 1rem;
}

.banner {
  height: 25rem;
  width: 100%;
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  background-position: center;
}

.titlebox {
  background-color: black;
  width: 20rem;
  height: auto;
  position: relative;
  top: 9rem;
  padding: 2rem 3rem;
  font-weight: bold;
}

.titlebox p {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.titlebox h1 {
  font-size: 2rem;
}

nav {
  background-color: firebrick;
  padding: 0.75rem;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menumobile {
  display: none;
}

.products {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.box {
  width: 30%;
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box img {
  height: 6rem;
  width: auto;
  margin: 2rem auto;
}

.caption {
  background-color: black;
  padding: 0.5rem 0;
  width: 100%;
  text-align: center;
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 4rem 0;
}

.data {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.datatitle {
  background-color: black;
  padding: 1rem 2rem;
}

.datatext {
  color: black;
}

footer {
  background-color: black;
  height: 5rem;
}

.copy {
  display: flex;
  align-items: center;
  height: 5rem;
}

@media only screen and (max-width: 1024px) {
  .menu {
    display: none;
  }

  .menumobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #glasses {
    display: none;
  }

  .box {
    width: 47%;
  }
}

@media only screen and (max-width: 470px) {
  .top p {
    display: none;
  }

  .top img {
    margin: 0 auto;
  }

  .banner {
    height: 15rem;
    width: 100%;
  }

  .titlebox {
    width: 100%;
    top: 10rem;
    padding: 1rem 2rem;
  }

  .titlebox p {
    font-size: 0.77rem;
  }

  .titlebox h1 {
    font-size: 1rem;
  }

  #watch {
    display: none;
  }

  .products {
    justify-content: center;
  }

  .box {
    width: 90%;
  }

  .info {
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 3rem auto 4rem auto;
  }

  .data {
    margin: 0.5rem 0;
    width: 100%;
  }

  .copy {
    justify-content: center;
  }

}
